<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Dr. Jeff Kenton</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:jkenton@towson.edu">Administrator's Apprentice</a></li>
          <li> subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
<li><img src="/images/Google-Level-I.png" alt="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/30286775?key=5030f026c2e732656c349cf77a9bc6140f63ff7c381616baba08e03900369b07">

        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            {% include icon-twitter.html %}
          <a href="https://www.twitter.com/drjkenton">drjkenton</a>
          <li>
            {% include icon-instagram.html %}
          <a href="https://www.instagram.com/drjkenton">drjkenton</a>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
